
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Mulish:wght@500&display=swap');
@import "tailwindcss";

body {
  font-family: 'Mulish', sans-serif;
  background: linear-gradient(#081221, #03080f);
  color: #c1d1e8;
  min-height: 100vh;
}

h1, h2, h3, button, label {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.button-wrapper {
  position: relative;
  height: 50px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

button {
  background-color: #5692e8;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  color: white;
  border-radius: 4px;
}

